@import 'bootstrap/scss/bootstrap.scss';
@import './screens/User/Login/_variables.scss';
@import './screens/User/Login/landingPageColors.scss';
@import './screens/User/Login/landingPage.Style.scss';
@import './screens/User/Login/roadmap.scss';
@import 'node_modules/react-modal-video/scss/modal-video.scss';
@import 'node_modules/slick-carousel/slick/slick.scss';
@import 'node_modules/slick-carousel/slick/slick-theme.scss';
@import './Assets/scss/helperClasses.scss';
@import './Assets/scss/style.scss';
@import './Assets/style.scss';
@font-face {
  font-family: 'system-ui','-apple-system','BlinkMacSystemFont','Segoe UI,Roboto',Helvetica,Arial,sans-serif,'Apple';
  font-style: normal;
  font-weight: normal;
  src: local('Georgia Regular'), url('./Assets/fonts/georgia.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Georgia Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Georgia Italic'), url('./Assets/fonts/georgiai.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Georgia Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Georgia Bold'), url('./Assets/fonts/georgiab.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Georgia Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Georgia Bold Italic'), url('./Assets/fonts/georgiaz.woff') format('woff');
  }
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif,'Lato', sans-serif;
  overflow-x: hidden;
}
#root {
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b3b5b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b3b5b;
}
