// Font Family

$Barlow: 'Barlow', sans-serif;


// Colors ---------------
$white: #fff;

$black: #222;

$grey:#f0f5fd;

$theme-color: #0074dd;

$text-color: #626978;

$hr-border-color:#eceff8;


// Heading Color
$heading-color: #2f3541;

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


