@font-face {
  font-family: "archiaregular";
  src: url("../../../Assets/fonts/archia-regular-webfont.eot");
  src: url("../../../Assets/fonts/archia-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../../Assets/fonts/archia-regular-webfont.woff2") format("woff2"),
    url("../../../Assets/fonts/archia-regular-webfont.woff") format("woff"),
    url("../../../Assets/fonts/archia-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.dln-landPage {
  * {
    font-family: 'system-ui','-apple-system','BlinkMacSystemFont','Segoe UI,Roboto',Helvetica,Arial,sans-serif,'Apple';
  }
}
.dln-nav {
  background-color: #fff;
  font-family: 'system-ui','-apple-system','BlinkMacSystemFont','Segoe UI,Roboto',Helvetica,Arial,sans-serif,'Apple';
  color: $dln-green;
  .navbar-nav {
    a {
      font-family: 'system-ui','-apple-system','BlinkMacSystemFont','Segoe UI,Roboto',Helvetica,Arial,sans-serif,'Apple';
      font-weight: 400;
      font-size: 1.3rem;
      padding: 1rem;
      cursor: pointer;
    }
  }
  .nav-link {
    color: $dln-green !important;
    a {
      font-family: 'system-ui','-apple-system','BlinkMacSystemFont','Segoe UI,Roboto',Helvetica,Arial,sans-serif,'Apple';
      font-weight: 500;
      font-size: 1.3rem;
    }
  }
  .nav-link:not(:last-child) {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-right: 20px;
    @media #{$xs} {
      margin-right: 0px;
      margin-left: 0px;
    }
  }
  .navbar-collapse.show {
    background-color: #fff !important;
  }
  .navbar-brand {
    @media #{$xs} {
      //padding-top: 1.3125rem;
    }
  }
}
.btn-login {
  background-color: $dln-green;
  color: #fff;

  border-radius: 4px;
  border: 1px solid #000;
  &:hover {
    color: #fff;
  }
  &:focus {
    box-shadow: none;
  }
}
.btn-login--header {
  position: absolute;
  top: 0;
  right: 3rem;
}
.btn-login-small-device {
  min-width: 100%;
}
.btn-arrow {
  background: #f3f8fb;
}
.dln-hero {
  text-align: left;
  .dln-hero-left {
    background: url("../../../Assets/Images/Hero_Background.png");
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    .dln-hero-left--text {
      padding-left: 8rem;
      padding-right: 4rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      @media #{$xs} {
        padding-left: 3rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 3rem;
      }
      h1 {
        color: $dln-green;
        font-weight: bold;
        font-size: 4.5rem;
        line-height: 1.1;
        letter-spacing: 5px;
        @media #{$xs} {
          margin-bottom: 1rem;
          font-size: 3.5rem;
        }
      }
      p {
        @media #{$xs} {
          margin-bottom: 2rem;
        }
      }
      .btn-joinUs {
        background-color: $dln-green;
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 4px;
        border: 1px solid #000;
        &:hover {
          color: #fff;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  .dln-hero-right {
    background: url("../../../Assets/Images/Hero_Dln_Glass.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
  }
}
.dln-text {
  color: #000;
  font-weight: 500;
  line-height: 1.3;
}
.dln-title {
  color: $dln-green;
  font-size: 2.8rem;
  font-weight: 700;
}
.dln-color-accent {
  color: $dln-green;
}
.dln-card-title {
  color: $dln-green;
}
@media (max-width: 768px) {
  .dln-hero-right {
    height: 0;
    padding-top: 66.64%;
  }
  .dln-hero {
    .dln-hero-left {
      .dln-hero-left--text {
        h1 {
          font-size: 1.8rem;
          letter-spacing: 0px;
        }
      }
    }
  }
  .dln-featured-text {
    font-size: 1.5rem;
    text-align: left;
  }
  .dln-bold-dark-text {
    color: #000;
    font-size: 1.5rem;
    padding: 20px;
  }
  .dln-title-box-Text {
    font-size: 12px !important;
  }
  .dln-carousel-box {
    width: 100% !important;
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
  }
  .dln-box-text {
    font-size: 12px !important;
    font-weight: "bold" !important;
    padding-left: 10px;
    padding-right: 10px;
  }
  .dln-smart-contract {
    display: table-footer-group;
  }
  .btn-login--header {
    display: none;
  }
  .navbar-toggler {
    margin-top: 0px !important;
  }
  h1 {
    font-size: 2rem;
  }
  .dln-new-event-text {
    padding-left: 0.5rem;
    p {
      font-size: 2.2rem !important;
    }
  }
  .dln-title {
    font-size: 2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .dln-scaling-section {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-image: url("../../../Assets/Images/SocialStaking_small.png") !important;
    background-size: cover !important;
  }

  .navbar-brand {
    img {
      width: 200px !important;
    }
  }
  .dln-nav .navbar-nav a {
    padding: 0.3rem;
  }
  .dln-details-box {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .dln-roadmap {
    padding-top: 0.25rem !important;
    margin-top: 0.25rem !important;
  }
  .future-roadmap-area .first-row {
    padding-top: 80px !important;
  }
  .dln-community-img-container{
    margin-left: 0.125rem;
    margin-right: 0.125rem;
  }
  .dln-join-box{
    padding-left: 0 !important;
    padding-right: 0 !important;
    img,p,h5{
      padding-left: 0 !important;
      padding-right: 0 !important;
       margin-left: 0 !important;
       margin-right: 0 !important;
    }
  }
}
@media (max-width: 767px) {
  .dln-hide-small-device {
    display: none;
  }
  .dln-show-small-device {
    display: inline-block !important;
  }
  .dln-hide-section {
    display: none;
  }
  .dln-MFI-outerBox {
    margin-bottom: 1rem;
  }
  .dln-card {
    margin-bottom: 1rem;
  }

  .dln-px-sm-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .dln-card-borrower {
    margin-top: 1.25rem;
  }
  .dln-MFI-right-text {
    padding-left: 0 !important;
    padding-right: 0 !important;
    p {
      margin-bottom: 0.5rem !important;
    }
  }
  .dln-dogood-text {
    padding: 0.2rem 0.2rem !important;
    padding-top: 0.5rem !important;
  }
  .dln-mt-sm-2 {
    margin-top: 0.5rem !important;
  }
  .dln-icon-holder {
    width: 25px !important;
    height: 25px !important;
  }
  .dln-icon-span {
    font-size: 13px !important;
  }
  .dln-followUs-p {
    align-self: center;
    font-size: 22px !important;
    margin: 0px;
  }
  .dln-partner-logos {
    max-width: 255px;
  }
  .dln-scaling-section--content {
    top: 6% !important;
  }
}

@media (min-width: 767px) {
  .btn-login-small-device {
    display: none;
  }
  .dln-card {
    display: inline-block;
    height: 100%;
  }
  .dln-details-box{ 
    width: 24rem;
  }  
}
@media (max-width: 1000px) {
  .dln-social-stacking-section {
    img {
      width: 13rem !important;
    }
  }
  .dln-social-staking-hide-in-ipad {
    display: none;
  }
  .dln-followUs-p {
    font-size: 22px !important;
  }
}
@media (max-width: 391px) {
  .dln-new-event-text p {
    font-size: 2rem !important;
  }
  .dln-scaling-section--content {
    top: 3% !important;
  }
}

.visibility-hidden {
  visibility: hidden;
}
.dln-card {
  position: relative;
  padding-top: 20px;
  border: 1px solid $dln-green;
  border-radius: 4px;
  &.dln-card-borrower::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    width: 87px;
    height: 119px;
    background-image: url("../../../Assets/Images/Borrower.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -72%);
    border-top: inherit;
    border-top-color: transparent;
  }
  &.dln-card-investor::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    width: 114px;
    height: 119px;
    background-image: url("../../../Assets/Images/Investor.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -79%);
    border-top: inherit;
    border-top-color: transparent;
  }
  &.dln-card-lender::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    width: 115px;
    height: 113px;
    background-image: url("../../../Assets/Images/Lenders.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -79%);
    border-top: inherit;
    border-top-color: transparent;
  }
  img {
    position: absolute;
    top: -90px;
    left: 37%;
    @media #{$xs} {
      left: 85px;
    }
  }
}

.dln-Microlending-section {
  .dln-card-container {
    @media #{$xs} {
      margin-bottom: 4.5rem !important;
    }

    &.dln-card-container--investor {
      @media #{$xs} {
        margin-bottom: 5.8rem !important;
      }
    }
  }
}
.dln-scaling-section {
  background: url("../../../Assets/Images/SocialStaking.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100%;
  padding-top: 0rem;
  padding-bottom: 0rem;
  position: relative;
}
.dln-details-box {
  background-color: $dln-green1;
  border-radius: 4px;
  max-width: 40rem;
}
.dln-details-box--left {
  color: #fff;
  font-weight: 600;
  text-align: left;
  font-size: 1rem;
}
.dln-details-box--right {
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
  color: #fff;
}
.dln-title--sub {
  font-size: 2rem;
  text-decoration: underline;
  letter-spacing: 1px;
}
.dln-scaling-section--content {
  position: absolute;
  top: 24%;
  z-index: 1;
}
.dln-social-stacking-section {
  background-color: $dln-green2;
  .dln-text {
    letter-spacing: 1px;
  }
  img {
    width: 17rem;
  }
  .dln-land-money {
    width: 13rem;
  }
}
.dln-color-green3 {
  color: $dln-green3;
}
.dln-finance-section {
  .dln-card {
    border: 2px solid $dln-green1;
  }
}
.dln-smart-contract {
  background: url("../../../Assets/Images/smarkContractBack.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: auto;
  height: auto;
  .dln-smart-contract-item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
  }
  .dln-smart-contract-img {
    width: auto;
    height: auto;
  }
  .dln-smart-contract-caption {
    display: block;
    font-weight: bold;
  }
  .dln-arrow {
    height: 50px;
  }
  .dln-outer-box {
    border: 1px solid $dln-green;
    background-color: #fff;
    padding: 10px;
    max-width: 16rem;
    .dln-inner-box {
      background-color: $dln-green4;
      color: #000;
      padding: 1.5rem;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}
.dln-rotate-140 {
  transform: rotate(140deg);
}
.dln-rotate-90 {
  transform: rotate(90deg);
}
.dln-rotate-40 {
  transform: translateY(28%) rotate(45deg);
}
.future-roadmap-area {
  .dln-MFI-text {
    color: $dln-green5;
    font-size: 2.9rem;
    font-family: arial;
    font-weight: bold;
    line-height: 1.2;
  }
  .dln-MFI-outerBox {
    border: 1px solid $dln-green5;
    .dln-MFI-innerBox {
      background-color: $dln-green5;
      padding: 10px;
      color: #fff;
      font-weight: bold;
      display: inline-block;
      text-decoration: none;
      width: 100%;
    }
  }
}
.dln-MFI-right-text {
  color: $dln-green5;
  font-weight: bold;
  .dln-MFI-right-text-large {
    font-weight: 700;
    font-size: 2rem;
  }
}
.dln-foundation {
  background-color: $dln-green5;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
}
.dln-community {
  background: url("../../../Assets/Images/THE_DLN_FOUNDATION_BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100%;
}
.dln-dogood-text {
  background-color: $dln-green5;
  width: 46rem;
  padding: 0.2rem 3rem;
  padding-top: 0.5rem;
  &.dln-dogood-text--timeline{
    width: 37rem;
  }
  h2 {
    color: #fff;
  }
}
.dln-new-event-text {
  p {
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.2;
  }
}
.dln-new-event-img {
  float: left;
  // height: 250px;
} 
.dln-scaling-section::after {
    content: ""; // ::before and ::after both require content
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background-image: linear-gradient(to right, transparent , rgba(255,255,255,0.8));
  }
@media #{$xs} {
  .dln-scaling-section::after {
    background: rgba(255, 255, 255, 0.7);
  }
  .dln-new-event {
    display: block !important;
    .dln-new-event-img {
      float: unset;
    }
  }
}
.dln-slide-card {
  height: calc(300px - 92px);
  background: #fff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6ab83a;
  width: 95% !important;
}

.dln-carousel-box {
  width: 75%;
  align-items: center;
}
.dln-carousel-section {
  background: #f3f8fb;
  padding-top: 50px;
  padding-bottom: 50px;
}
.dln-featured-text {
  color: #000;
  text-align: left;
  border-bottom: 2px solid #6ab83a;
  margin-bottom: 40px;
  padding-bottom: 5px;
}
.dln-box-text {
  padding-left: 10px;
  padding-right: 10px;
}
.dln-title-box-Text {
  &:not(.dln-news-modal-title){
    font-size: 17px;
  }
  padding-left: 10px;
  font-weight: 700;
  padding-right: 10px;
}
.dln-button-images {
  background-color: "#F3F8FB" !important;
  border-color: "#F3F8FB" !important;
  width: 80px;
}
.dln-logosSectionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.dln-padding-vertical {
  padding-top: 30px;
  padding-bottom: 30px;
}
.dln-dismiss-btn {
  width: 180px;
  border-radius: 6px;
  justify-content: center;
  background-color: $dln-green;
}
.dln-dismiss-font-color {
  color: #fff;
}
.dln-nav.link {
  padding: 6px;
}
.dln-input-border {
  border: 5px solid #21d660;
  border-radius: 4px;
  margin-bottom: 1px;
}
.dln-bold-dark-text {
  color: #000;
  font-weight: bold;
  padding-top: 50px;
}
.dln-remove-input-border {
  border: none;
  background-color: transparent;
}
.dln-form {
  width: 90%;
}
.dln-right-arrow {
  color: rgba(255, 255, 255, 0.7);
  width: 50px;
  height: 30px;
}
.dln-arrow-holder {
  width: 10%;
  background-color: #21d660;
}
.dln-light-small-p {
  color: gray;
  size: 8px;
}
.dln-header-line {
  width: 100%;
  height: 1px;
  background-color: $dln-green;
  margin-bottom: 15px;
}
.dln-footer-holder {
  margin-top: 60px;
}
.dln-icon-holder {
  width: 40px;
  height: 40px;
  background-color: green;
  border-radius: 20px;
  display: grid;
  margin: 10px;
  justify-content: center !important;
}
.dln-icon-span {
  color: white;
  font-size: 26px;
  align-self: center;
}
.dln-footer-display {
  display: table-footer-group;
}
.dln-followUs-p {
  align-self: center;
  font-weight: 16;
  margin: 0px;
  font-size: 1.9rem;
}
.slick-slide img {
  display: initial !important;
}
.slick-prev,
.slick-next {
  height: 40px !important;
  width: 40px !important;
}
.slick-prev {
  left: -40px !important;
}
.slick-next {
  right: -40px !important;
}

element.style {
  border-radius: 10px;
  padding: 10px;
}

.slick-dots {
  position: absolute;
  bottom: -60px !important;
}
.dln-slick-custom-dots {
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 5px;
}
.dln-video-link {
  padding: 0px;
}
.dln-margin-bottom {
  margin-bottom: 10px;
}
.dln-margin-top {
  margin-top: 10px;
}
// @media (min-width: 992px) {
//   .dln-nav {
//     &.navbar-expand-lg .navbar-collapse {
//       margin-top: 1.5rem !important;
//     }
//   }
// }
@media (min-width: 1200px) and (max-width: 1450px) {
  .dln-hero .dln-hero-left .dln-hero-left--text h1 {
    font-size: 3.6rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .dln-hero .dln-hero-left .dln-hero-left--text h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 766px) and (max-width: 992px) {
  .dln-future-icon {
    &::before {
      display: none !important;
    }
    &::after {
      display: none !important;
    }
  }
  .future-roadmap-area {
    .dln-MFI-text {
      font-size: 2.5rem;
    }
  }
}
@media screen and (min-width: 1024px) and (max-width: 1024px) {
  .dln-smart-contract {
    & > div {
      padding-right: 0px !important;
      padding-left: 0px !important;
    }
  }
}
@media screen and (max-width: 1100px){
.dln-community{
  background-size: 100%  105%;

}
}
.dln-bg-grey{
  background-color: #f3f8fb;
}
.dln-privacy-text{
  font-weight: 600;
  a{
    cursor: pointer;
  }
}
.dln-privacy-date{
  color: #c5c5c5;
}
.dln-privacy{
  h4,h5{
  margin-top: 3rem;
  }
}